[submodule "bls"]
	path = bls
	url = https://github.com/herumi/bls.git
[submodule "mcl"]
	path = mcl
	url = https://github.com/herumi/mcl.git
[submodule "mcl-wasm"]
	path = mcl-wasm
	url = https://github.com/herumi/mcl-wasm.git
[submodule "bls-eth-wasm"]
	path = bls-eth-wasm
	url = https://github.com/herumi/bls-eth-wasm.git
