name: test
on: [push]

jobs:
  build:
    name: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: node
      uses: actions/setup-node@v4
      with:
        node-version: '20'
    - uses: pnpm/action-setup@v4
      with:
        version: 10.29.1
    - run: node test/test.js
    - run: node test/mcl-test.js

